WebContent/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Response">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="id" type="xs:positiveInteger"/>
      <xs:element name="role" type="xs:string"/>
      <xs:element name="fullName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>